li {
 list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color-light;
}

.hidden {
  display: none;
  @media only screen and (min-width: 650px) {
    display: inline;
  .hidden_span{
    display: hidden;
  }
  }
}
