@font-face {
  font-family: 'Freschezza';
  src:url('fonts/Freschezza Normal.eot?plegy0');
  src:url('fonts/Freschezza Normal.eot?plegy0#iefix') format('embedded-opentype'),
    url('fonts/Freschezza Normal.ttf?plegy0') format('truetype'),
    url('fonts/Freschezza Normal.woff?plegy0') format('woff'),
    url('fonts/Freschezza Normal.svg?plegy0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
