footer {
  p {
    padding-bottom: 1em;
  }
  @include flex-container(flex,row,wrap,center,center,center);
  font-family: 'Josefin Sans', sans-serif;
  color: $primary-color-light;
  font-size: 1.5em;
  border-top: 1px solid $text-dark;
  padding-top: 3em;
  ul {
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  li {
    padding-left: 2em;
    padding-right: 2em;
    display: inline;
  }
}
