footer {
  p {
    font-size: .7em;
    padding-bottom: 1em;
  }
  @include flex-container(flex,row,nowrap,center,center,center);
  font-family: 'Josefin Sans', sans-serif;
  color: $primary-color;
  font-size: 1em;
  border-top: 1px solid $text-dark;
  padding-top: 2em;
  ul {
    padding-left: 5%;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  li {
    padding-left: .5em;
    padding-right: .5em;
    display: inline;
  }
}
@media only screen and (min-width: 650px) {
  footer{
    p {
      font-size: 1.5em;
    }
    li{
      font-size: 1.5em;
    }
  }
}
.home {
  right: 0;
}
