.logo {
  color: $logo-color;
  border-top: 2px solid $logo-color;
  border-bottom: 2px solid $logo-color;
  display: inline-block;
  font-family: 'Freschezza';

  padding-bottom: .3em;
  padding-top: .5em;
  margin-top: .25em;
  margin-bottom: .25em;
}
