.expand_delete{
  cursor: pointer;
  background-color: $primary-color-light;
  padding: .25rem .65rem;
  border-radius: 3px;
  font-size: 1.25rem;
  float: right;
}

.delete {
  @extend .expand_delete;
  margin-right: 0;
  margin-bottom: 5px;
}

.expand {
  @extend .expand_delete;
  margin-right: calc(90% - 200px);
}

.trip_detail_expand {
  @extend .expand_delete;
  margin-right: 0;
}


