.expand,
.delete {
  cursor: pointer;
  background-color: $primary-color-light;
  padding: .25rem .65rem;
  border-radius: 0px;
  font-size: 1.25rem;
}

.delete {
  float: right;
  margin-right: 0;
  margin-bottom: 5px;
}

.expand {
  float: right;
  margin-right: calc(90% - 200px);
}

