.nav {
  background-color: none;
  h1 {
    font-size: 1.5em;

    text-align: center;
  }
  ul li {
    display: none;
    padding-left: .5em;
    padding-bottom: .3em;
    color: #000;
  }
  .icon-menu:before {
    padding-left: .5em;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ ul li {
  display: block;
  }
}

@media only screen and (min-width: 650px) {
  .nav {
    .icon-menu {
      display: none;
    }
    h1 {
      position: absolute;

    }
    ul {
      position: relative;
      padding-top: 5em;
      padding-right: 5em;
      padding-bottom: 5em;
      font-size: .7em;
      text-transform: uppercase;
      li {
        padding-left: 1em;
        padding-right: 1em;
        float: right;
        display: inline;
        span {
          display: inline;
        }
      }
    }
  }

}
