.nav {
  background-color: none;
  h1 {
    color: #000;
    font-size: 1.5em;
    // padding: 1em;
    text-align: center;
  }
  ul li {

    display: none;
    text-align: center;
    padding-bottom: .3em;
    color: #000;
  }
  .icon-menu:before {
    padding-left: .5em;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ ul li {
  display: block;
  }
}
.logo-nav{
  color: $logo-color;
  border-top: 2px solid $logo-color;
  border-bottom: 2px solid $logo-color;
  text-align: center;
  display: block;
  font-family: 'Freschezza';

  padding-bottom: .5em;
  padding-top: .5em;
  margin-top: .25em;
  margin-bottom: .25em;
}


@media only screen and (min-width: 650px) {
  .nav {
    .icon-menu {
      display: none;
    }
    h1 {
      position: absolute;
      padding-top: .5em;
      padding-left: .3em;
      padding-bottom: .3em;
    }
    ul {
      position: relative;
      padding-top: 2em;
      padding-right: 5em;
      padding-bottom: 5em;
      font-size: .7em;
      text-transform: uppercase;
      li {
        padding-left: 1em;
        padding-right: 1em;
        float: right;
        display: inline;
        span {
          display: inline;
        }
      }
    }
  }
  .logo-nav{
    display: inline;
}

}
