<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CarPoolBuddy</title>
    <meta name="description" content="Carpool Finder Web App, find a carpool in Seattle">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    <header>
      <section class="nav">
        <div class="header-nav">
          <div>
            <h1 class="logo-nav">Car Pool Buddy</h1>
          </div>
          <nav>
            <label for="show-menu">
              <span class="icon-menu"></span>
            <input type="checkbox" id="show-menu">
            <ul>
              <!-- <li><a href="#"></a></li> -->
              <li><a href="#">All Trips</a></li>
              <li><a href="#">Create Trips</a></li>
              <li><a href="#">Edit Trips</a></li>
            </ul>
          </nav>
        </div>
      </section>
    </header>
    <main>

      <section class="trip_info">
        <h2>My Trips</h2>

        <h3>{{ trip. }}<span class="trip_detail_expand" id="trips-1" >+</span></h3>
        <ul id="trips-details-1">
          <li ng-repeat="trip in trips">
            <p>{{ trip.origin }}</p>
            <p>{{ trip.destination }}</p>
            <p>{{ trip.time }}</p>
            <p>{{ trip.days }}</p>
            <p>{{ trip.users }}</p>
            <p>{{ trip.users.email (click to see) }}</p>
          </li>
        </ul>
      </section>

      <section>
        <h2>Find a Trip <span class="expand" id="find-trip-expand">+</span></h2>
        <form id="find-trip-form" class="form hidden">
          <fieldset>
            <label for="find-origin">Where to Start?</label>
            <input type="text" name="find-origin" id="find-origin" spellcheck="false" />

            <label for="find-destination">Where to Go?</label>
            <input type="text" name="find-destination" id="find-destination" spellcheck="false" />

            <label for="find-time">What Time to Go?</label>
            <input type="time" name="find-time" id="find-time" spellcheck="false" />
            <label for="find-days">What Days to Go?</label>
           <fieldset class="form-left">
            <label><input type="checkbox" value="sun"/>Sunday</label>
            <label><input type="checkbox" value="tue" checked="true"/>Tuesday</label>
            <label><input type="checkbox" value="thu" checked="true"/>Thursday</label>
            <label><input type="checkbox" value="sat"/>Saturday</label>
          </fieldset>
          <fieldset class="form-right">
            <label><input type="checkbox" value="mon" checked="true"/>Monday</label>
            <label><input type="checkbox" value="wed" checked="true"/>Wednesday</label>
            <label><input type="checkbox" value="fri" checked="true"/>Friday</label>
          </fieldset>
            <button type="submit">Submit</login>
          </fieldset>
        </form>
      </section>

      <section>
        <h2>Create A Trip <span class="expand" id="create-trip-expand">+</span></h2>

        <form id="create-trip-form" class="form hidden">
          <fieldset>
            <label for="create-origin">Where to Start?</label>
            <input type="text" name="create-origin" id="create-origin" spellcheck="false" />

            <label for="create-destination">Where to Go?</label>
            <input type="text" name="create-destination" id="create-destination" spellcheck="false" />

            <label for="create-time">What Time to Go?</label>
            <input type="time" name="create-time" id="create-time" spellcheck="false" />
            <label for="create-days">What Days to Go?</label>
           <fieldset class="form-left">
            <label><input type="checkbox" value="sun"/>Sunday</label>
            <label><input type="checkbox" value="tue" checked="true"/>Tuesday</label>
            <label><input type="checkbox" value="thu" checked="true"/>Thursday</label>
            <label><input type="checkbox" value="sat"/>Saturday</label>
          </fieldset>
          <fieldset class="form-right">
            <label><input type="checkbox" value="mon" checked="true"/>Monday</label>
            <label><input type="checkbox" value="wed" checked="true"/>Wednesday</label>
            <label><input type="checkbox" value="fri" checked="true"/>Friday</label>
          </fieldset>
            <button type="submit">Submit</login>
          </fieldset>
        </form>
      </section>

      <section class="trip_info">
        <h2>Delete a Trip</h2>
        <ul ng-repeat="trip in trips">
          <li>{{ trip.name }}<span class="delete" id="find-trip-expand" ng-click="vm.delete(vm.file.id)">-</span></li>
   <!--      <div class="home">
          <a href="#"><span>^</span></a>
        </div> -->
      </section>

    <footer>
      <p class="footer">&#169 Carpool Buddy LLC</p>
      <ul>
        <li class="footer"><a href="https://www.facebook.com/"><span class="icon-facebook2"></a></span></li>
        <li class="footer"><a href="https://www.twitter.com/"><span class="icon-twitter"></span></a></li>
        <li class="footer"><a href="https://www.pinterest.com/"><span class="icon-pinterest2"></span></a></li>
        <li class="footer"><a href="https://www.github.com/"><span class="icon-github"></span></a></li>
      </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-2.1.4.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/jquery.leanModal.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

  </body>
</html>

