@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?plegy0");
  src: url("fonts/icomoon.eot?plegy0#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?plegy0") format("truetype"), url("fonts/icomoon.woff?plegy0") format("woff"), url("fonts/icomoon.svg?plegy0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e805"; }

.icon-facebook2:before {
  content: "\e800"; }

.icon-twitter:before {
  content: "\e801"; }

.icon-github:before {
  content: "\e802"; }

.icon-pinterest2:before {
  content: "\e803"; }

header {
  background-color: none; }
  header h1 {
    color: #000;
    font-size: 1.5em;
    padding: 1em;
    text-align: center; }
  header ul li {
    display: none;
    padding-left: .5em;
    padding-bottom: .3em;
    color: #000; }
  header .icon-menu:before {
    padding-left: .5em; }
  header input[type=checkbox] {
    display: none; }
  header input[type=checkbox]:checked ~ ul li {
    display: block; }

@media only screen and (min-width: 650px) {
  header .icon-menu {
    display: none; }
  header h1 {
    position: absolute;
    padding-top: 1.9em;
    padding-left: 1.9em;
    padding-bottom: 1.9em; }
  header ul {
    position: relative;
    padding-top: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
    font-size: .7em;
    text-transform: uppercase; }
    header ul li {
      padding-left: 1em;
      padding-right: 1em;
      float: right;
      display: inline; }
      header ul li span {
        display: inline; } }

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .4em;
  border-top: 1px solid black;
  padding-top: 3em; }
  footer p {
    padding-bottom: 1em; }
  footer ul {
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase; }
  footer li {
    padding-left: 2em;
    padding-right: 2em;
    display: inline; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }
